name: CD

on:
workflow_run:
workflows: ["CI"]
types:
- completed


jobs:
deploy:
if: ${{ github.event.workflow_run.conclusion == 'success' }}
runs-on: ubuntu-latest


steps:
- name: Checkout repository
  uses: actions/checkout@v4


- name: Install kubectl
  run: bash install-kubectl.sh


- name: Start Minikube
  run: bash install-run-minikube.sh


- name: Scale deployment if needed
  run: bash scale-deployment.sh


- name: Create Kubernetes service
  run: bash create-service.sh


- name: Deploy new Docker image
  run: bash deploy-image.sh
- name: Rollout status
run: |
  kubectl rollout status deployment/myapp-deployment
